.customModal :global(.modal-content) {
  background-color: #12151d !important;
  color: #e5e7eb !important;
  border-radius: 12px !important;
  border: 3px solid #0d9488 !important;
}

.modalHeader {
  border: none;
}

.modalTitle {
  font-weight: bold;
  color: #0dcdbc;
  text-align: center;
}

.modalBody {
  color: #cbd5e1;
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
}