* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  font-size: 19px;
}

body {
  background-color: #1e1f26;
  color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: rgba(58, 228, 214, 0.712);
}