* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  font-size: 19px;
}

body {
  background-color: #1e1f26;
  color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: rgba(58, 228, 214, 0.712);
}

.form-control {
  transition: all 0.3s ease;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(255, 255, 255, 0.1);
}
