* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  font-size: 19px;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: rgba(58, 228, 214, 0.712);
}

.textTheme {
  color: #09ccbc;
}

.form-control {
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.textarea {
  height: 120px;
  resize: none;
}

/* Make inactive tab text gray */
#auth-tabs-tab-Signin,
#auth-tabs-tab-Signup {
  color: whitesmoke;
}

/* Active tab text color (when selected) */
#auth-tabs-tab-Signin.active,
#auth-tabs-tab-Signup.active {
  color: whitesmoke;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
}

/* Pagination container styling */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pagination buttons basic styling */
.pagination .page-item {
  margin: 0 5px;
  cursor: pointer;
}

/* Normal page item */
.pagination .page-item .page-link {
  color: #00bcd4;
  border: 1px solid #00bcd4;
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
  transition: all 0.3s ease;
  background-color: #121212;
  width: 50px;
}

/* Hover effect */
.pagination .page-item .page-link:hover {
  background-color: #00bcd4;
  color: white;
  border-color: #00bcd4;
}

/* Active page item */
.pagination .page-item.active .page-link {
  background-color: #00bcd4;
  color: white;
  border-color: #00bcd4;
  font-weight: bold;
  cursor: default;
}