.form {
  padding: 40px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #12151d;
  box-shadow: 2px 4px 20px #00bcd4;
}

.form label {
    font-weight: 400;
    font-size: 1.1rem;
    color: #00bcd4;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
    display: block;
}

.form input {
    background-color: white;
    border: 1px solid #2c2f3a;
    color: #2c2f3a;
    padding: 10px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form input:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 5px #00bcd4;
    color: #00bcd4;
    outline: none;
}

.heading h1 {
    font-size: 2.7rem;
    text-align: center;
    color: #00bcd4;
}

.subHeading p {
    text-align: center;
    color: gray;
}