.loginPage {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  filter: brightness(0.9);
}

.form {
  background: #12151d;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 2px 4px 20px #00bcd4;
  border-radius: 12px;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  color: white;
  z-index: 1;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}

.form h2 {
  font-size: 2.4rem;
  text-align: center;
  color: #00bcd4;
}

.form p {
  font-size: 18px;
  text-align: center;
  color: gray;
}

.form label {
  font-weight: 400;
  font-size: 1.1rem;
  color: #00bcd4;
  letter-spacing: 0.1px;
  display: block;
}

/* Googel login button */
.google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #444;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    width: 100%;
}

.google-btn:hover {
    box-shadow: 0 6px 15px rgba(0, 194, 203, 0.6);
}

.google-icon-wrapper {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.google-icon {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: all 400ms ease-in-out;
}

.btn-text {
    margin: 0;
    font-weight: 500;
}

/* Font icon */
.icon:hover{
  cursor: pointer;
  color: #00bcd4;
}