.formContainer{
    max-width: 500px;
    margin: "3rem auto";
    margin-top:'200px';
    background-color: "#2a2b33";
    padding: "2rem";
    border-radius: "15px";
    box-shadow: "0 4px 15px rgba(0, 194, 203, 0.5)";
}