.sidebar {
    background: #12151d;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    min-height: 100vh;
    position: relative;
}

.sidebar.open {
    width: 220px;
}

.sidebar.closed {
    width: 70px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    background: #00bcd4;
    color: #12151d;
}

.logo span {
    font-size: 1.01rem;
    text-wrap: nowrap;
}

/* Nav */
.nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    flex-grow: 1;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    color: #ddd;
    text-decoration: none;
    transition: background 0.2s;
}

.navItem span {
    font-size: 1.2rem;
}

.navItem:hover {
    background: #1f2533;
    color: #00bcd4;
}

.active {
  background: #1f2533;
  color: #00bcd4;
}

/* Toggle button */
.toggleBtn {
    position: absolute;
    bottom: 20px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #0dcdbc;
    color: #12151d;
    cursor: pointer;
    font-weight: bold;
}