.passwordFieldWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.icon {
    position: absolute;
    right: 21px;
    bottom: 12.5px;
    cursor: pointer;
    color: #00bcd4;
    font-size: 1.1rem;
}

.errorMessage {
    color: red;
    display: block;
    font-weight: 400;      
    margin-top: 2px;
    font-size: 1rem;
    text-align: left;
}