.input {
    background-color: white;
    border: 1px solid #2c2f3a;
    color: #2c2f3a;
    padding: 10px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #0dcdbc;
    box-shadow: 0 0 5px rgba(13,205,188,0.5);
    color: #0dcdbc;
    outline: none;
}

.label {
    font-weight: 400;
    font-size: 1.1rem;
    color: #0dcdbc;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
    display: block;
    float: inline-start;
}