.wrapper {
  max-width: 900px;
  margin: 120px auto;
  padding: 25px;
  background: #121212;
  border-radius: 15px;
  box-shadow: 1px 1px 17px #00bcd4;
  color: #e0e0e0;
  width: 900px;
  min-width: 900px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  color: #00bcd4;
  margin: 0;
  font-size: 2.7rem;
}

.subtitle {
  font-size: 18px;
  color: #aaa;
  margin-top: 5px;
}

/* Details */
.detailBox {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.sectionTitle {
  color: #00bcd4;
  font-size: 18px;
  margin-bottom: 15px;
  font-size: 24px;
}

.detail {
  margin: 8px 0;
  font-size: 18px;
}

.highlight {
  color: #00bcd4;
}

/* Message Box */
.messageBox {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  border-left: 4px solid #00bcd4;
  max-height: 350px;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: thick;
  scrollbar-color: #00bcd4 #1a1a1a;
}

/* Chrome, Edge, Safari */
.messageBox::-webkit-scrollbar {
  width: 20px;
}

.messageBox::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 12px;
}

.messageBox::-webkit-scrollbar-thumb {
  background-color: #00bcd4;
  border-radius: 12px;
  border: 2px solid #1a1a1a;
}

.messageBox::-webkit-scrollbar-thumb:hover {
  background-color: #00bcd4;
}

/* Message */
.message {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  color: #e0e0e0;
  margin: 5px;
  word-spacing: 0.7px;
  letter-spacing: 0.3px;
  white-space: pre-line;
  text-align: justify;
  line-height: 1.9;
}

/* Footer */
.divider {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #333;
}

.footer {
  font-size: 18px;
  color: #888;
  text-align: center;
  line-height: 1.5;
}