.navbar {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 999;
  padding: 5px 20px;
  height: 110px; 
  display: flex;
  align-items: center;
}

:global(.navbar .container-fluid) {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
:global(.navbar .navbar-brand) {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.logoImg {
  height: 50px;
  width: auto;
  margin-top: 5px;
  margin-left: 2px;
  display: block;
  transform: scale(5.7);
  transform-origin: 40% center;
}

@media (max-width: 768px) {
  .logoImg {
    transform: scale(2.5);
    transform-origin: 35% center;
  }
}

/* NavLinks */
.navbar :global(.nav-link) {
  color: darkgray;
  font-size: 1.09rem;
  font-weight: 450;
  position: relative;
  letter-spacing: 0.7px;
  transition: all 200ms ease-in-out;
}

.navbar :global(.nav-link:hover) {
  color: #00bcd4;
}

.navbar :global(.nav-link.active) {
  box-shadow: 0px 1px #00bcd4;
  color: #00bcd4;
}

.navbar .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

/* Dropdown */
.userDropdown .dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.userDropdown .dropdown-item {
  color: #333 !important;
  padding: 10px 12px;
  transition: background 0.2s ease;
}

.userDropdown .dropdown-item:hover {
  background-color: #f5f5f5;
}

.hamburger {
  border: none;
}